<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home</a>
      </li>
      <% if (locals.user) {%> 
        <li class="nav-item">
          <form action="/users/signout" method="post"></form>
            <a class="nav-link" onclick='$("form").submit()' style="cursor: pointer">Signout</a>
          </form>
        </li>
      <%} else { %>
        <li class="nav-item">
          <a class="nav-link" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/register">Register</a>
        </li>
      <%} %>
    </ul>
  </div>
</nav>